{% extends "thesis_app/header.html" %} {%block content %} {% load crispy_forms_tags %} {% load staticfiles %} {% load crispy_forms_field %}

<div class="container " style="color:#000000; ">
    <br>
    <div class="col-lg-12 col-lg-offset-4 transbox_sur">
        <br>
        <div class="div-cl-4">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    <b class="font-weight-bold" style="font-size: 15px;">Step 3 out of 6</b>
                </div>
            </div>
            <br>
            <br>
            <h3>Rate 'em! ? </h3>
            <br>
            <h5>Please rate as much as you can (but at least 3 countries).</h5>
            <br>
            <br>
            <p>
                {{user}}
            </p>
            <br>
            <br>
            <button type="submit " class="btn btn-block btn-outline-primary font-weight-bold "> <i><h5 class="font-weight-bold ">Next<h5></i></button>
        </div>

    </div>
</div>
{% endblock %}