{% extends "thesis_app/header.html" %} {% load widget_tweaks %} {% block content %}
<div class="row">
    <div class="col-md-6 div-cl">
        <div class="panel transbox" style="color:#000000;">
            <div class="div-form ">
                <h4 style="color: rgb(12, 12, 12);text-align: center; " class="vc_custom_heading font-weight-bold ">Which Country should you live in ?</h4>
                <br/>
                <h5 style="text-align: center;opacity: 0.9; ">Register to find out !</h5>
                <br>
                <form method="POST" action="">
                    {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field }} {% endfor %} {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %} {{ error }} {% endfor %}
                    </div>
                    {% endif %} {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }} {% if form.is_bound %} {% if field.errors %} {% render_field field class="form-control is-invalid" %} {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %} {% else %} {% render_field field class="form-control is-valid" %} {% endif %} {% else %} {% render_field field class="form-control" %} {% endif %} {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small> {% endif %}
                    </div>
                    {% endfor %}


                    <br>
                    <br>

                    <button type="submit" class="btn btn-info btn-block"> <i class="font-weight-bold">Submit</i></button>

                </form>

                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col-sm-6 div-cl-2 ">
        <div class="panel transbox_desc " style="color:#ffffff;">
            <div class="div-tx " style="text-align: left;">
                <p class="p0">
                    This is a web page for a Master thesis project of <a href="www.linkedin.com/in/el-majjodi-ayoub-72920b118" target="_blank " rel="noopener ">Ayoub EL Majjodi</a> at
                    <a href="http://ensias.um5.ac.ma/">ENSIAS</a>. This research project aims at building a Recommender System that can learn the preferences of people and suggest to them a list of countries that can match the provided preferences.
                </p>
                <p class="p0 ">
                    After registration, the users can provide their preferences (e.g., in terms of ratings to the countries). The recommender system uses these preferences to generate personalised ranking lists of countries for the registered users. <br>                    The users can also help us to improve the system by providing further feedback on the provided recommendations.</p>
                <p class="p0">
                    This Master thesis is undertaken with supervision of <a href="https://www.linkedin.com/in/lamiaben/">Lamia Ben Hiba</a> ,<a href="http://www.inf.unibz.it/~nelioini/ " target="_blank
            " rel="noopener ">Nabil El Ioini</a> and <a href="https://www.linkedin.com/in/mehdielahi/ " target="_blank " rel="noopener ">Mehdi Elahi.</a></p>
                <p class="p0">To learn more about how it works <a href="{% url 'thesis_app:howWorks' %}">click here</a>.</p>
            </div>
        </div>
        <div class="col-lg-14">
            <div class="panel transbox_desc " style="color:#ffffff;">
                <div style="text-align: justify;">
                    <h1 style="color:#ffffff;">Terms and Condition</h1>
                    <p class="div-tx" style="font-size:14px;">
                        Your participation in this research project is voluntary and gives you no material benefits. The goal is to expand the knowledge that can result in better recommender systems in the novel application domains that have not been explored very much.We highly
                        appreciate your input which will be extremely valuable for this research. Your privacy is our priority we will do our best in securing the collected data.<br> In case of any questions, feel free to contact
                        us.
                    </p>
                </div>
            </div>
        </div>
    </div>




    {% endblock %}