{% extends "thesis_app/header.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="col-md-6 div-cl">
    <div class="panel transbox" style="color:#000000;">
        <div class="div-form ">
            <form method="POST">

                <span style="
                    font-family: Raleway-Black;
                    font-size: 30px;
                    color: #333333;
                    line-height: 1.2;
                    text-transform: uppercase;
                    text-align: center;
                  
                    width: 100%;
                    display: block;
                  ">
                    Login
                </span> {% csrf_token %} {{form|crispy}}

                <br> {% for message in messages %}

                <div style="color: #ec0c0c;font-size: 25px !important;">
                    <a href="# " data-dismiss="alert "></a> {{ message }}

                </div>
                {% endfor %}
                <br>

                <button type="submit " class="btn  btn-block btn-info font-weight-bold"> <i class="font-weight-bold"><h5>Login<h5></i></button>
                <br>
                <br>

                <p>Don't have an account? Create one <a href="{% url 'thesis_app:home' %} ">here</a></p>



                <br>


            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}