{% extends "thesis_app/header.html" %} {% block content %}

<!-- <div class="card-panel">
    <div class="container">

        <div class="row">
            <h5 class="col s10">Step 1 out of 6</h5>
        </div>
        <div class="progress">
            <div class="determinate" style="width: 10%"></div>
        </div>
    </div>
    <h2 style="text-align: center" class="vc_custom_heading">Please let us know a bit about yourself !</h2>

    <form action="" method="POST" action=".">
        {% csrf_token %} {{form.as_p}}
        <br>
        <br>
        <div class="center">


            <button type="submit " class="waves-effect waves-light btn-large"> <i class="material-icons  ">Next ...</i></button>
        </div>
    </form>
</div> -->
<p>
    <form method="post" enctype="multiple/form-data" action=".">
        {% csrf_token %} {{form}}
        <input type="submit">
    </form>
</p>


{% endblock %}